html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}


nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  font-family: 'Inconsolata', monospace;
  margin-top: 0px;
  position: relative;
  font-size: 20px;

  z-index: 1;
}



.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  /* opacity: 0.8; */

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 1.5rem;
}

.fixed-nav li.logo {
  max-width: 500px;
}

li.logo a {
  color: black;
  font-size: 1.5em;

/* font-size: 30px; */

}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

#btn{
  background-color: #181818  ; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
font-family: 'Amatic SC', cursive;
font-size: 3em;
/* margin-bottom: 1rem; */
margin-bottom: 0px;
border-radius: 5%;

/* transform: scale(1.5); */

  /* padding: 5px; */
  /* border-radius: 50%; */
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 0px;
}