h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    margin-top: 5px;

}

#holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 30vw;
    justify-items: center;

}

#first {
    background-color: lightblue;
    color: red;
    width: 50%;
    align-self: stretch;
    position: relative;



}

h2 {
    text-align: center;
}

#sec {
    background-color: crimson;
    width: 50%;
    color: lightblue;
}

body {
    font-family: monospace;
    background-color: #181818;
    color: white;
background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin-left: 3rem;
    margin-right: 3rem;
}

#btn {
    margin-top: auto;
    position: absolute;
    bottom: 10px;
    align-items: center;
    left: 25%;
}

#user-choice {
    position: relative;
    top: 30%
}

#computer-choice {
    position: relative;
    top: 30%
}

#result {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: goldenrod;
}